{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programadores Uprobotics</title>

    <link rel="icon" type="image/png" href="{% static 'UProbotics_app/img/favicon.png' %}">

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'UProbotics_app/css/color_palette.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'UProbotics_app/css/meet_us.css' %}">
    <!-- Fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
    </style>
    <!-- Íconos -->
    <script src="https://kit.fontawesome.com/c986eafe9b.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <!-- Navbar -->
    <nav style="background-color: #333; padding: 10px; display: flex; justify-content: space-around;">
        <a href='{% url 'home' %}' style="color: white; text-decoration: none; font-weight: bold;">Inicio</a>
        <a href='{% url 'mecatronica' %}' style="color: white; text-decoration: none; font-weight: bold;">Mecatronica</a>
        <a href='{% url 'programadores' %}' style="color: #82B8FF; text-decoration: none; font-weight: bold;">Programadores</a>
        <a href='{% url 'administracion' %}' style="color: white; text-decoration: none; font-weight: bold;">Administración</a>
        <a href='{% url 'electronica' %}' style="color: white; text-decoration: none; font-weight: bold;">Electronica</a>
    </nav>
    
    <h1>Programadores UProbotics</h1>
    
    <section class="developers">
    
    
        <!--DIV NUEVO INTEGRANTE-->
        <div class="developer-div-r">
            <div class="developer-info">
                <h2>JUANITO</h2>
                
                <img src="{% static 'UProbotics_app/img/logo_blanco.png' %}" alt="Logo UProbotics" style="width: 100px; height: auto; margin-top: -50px;">
                
                <div class="info">
                    <span class="study-info">Estudiante de Ingeniería en Inteligencia Artificial</span>
                    <div class="links">
                        <a href="" class="github"><i class="fa-brands fa-github"></i><span>Github</span></a>
                        <a href="" class="linked"><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a>
                        <a href="" class="instagram"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a>
                    </div>
                </div>
            </div>
            <div class="developer-image">
                <img src="{% static 'UProbotics_app/img/#' %}" alt="">
            </div>
        </div>



        <!--DIV NUEVO INTEGRANTE-->
        <div class="developer-div-r">
            <div class="developer-info">
                <h2>Rogelio Salas Vargas</h2>
                <img src="{% static 'UProbotics_app/img/logo_blanco.png' %}" alt="Logo UProbotics" style="width: 100px; height: auto; margin-top: -50px;">
              
                <div class="info">
                    <span class="study-info">Estudiante de Ingeniería en Inteligencia Artificial</span>
                    <div class="links">
                        <a href="https://github.com/ROYSAVAR" class="github"><i class="fa-brands fa-github"></i><span>Github</span></a>
                        <a href="https://www.linkedin.com/in/rogelio-salas-vargas-565587304/" class="linked"><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a>
                        <a href="https://www.instagram.com/roy_savar/" class="instagram"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a>
                    </div>
                </div>
            </div>
            <div class="developer-image">
                <img src="{% static 'UProbotics_app/img/fotos_integrantes/roy_img.png' %}" alt="">
            </div>
        </div>

        <!--DIV NUEVO INTEGRANTE-->
        <div class="developer-div-r">
            <div class="developer-info">
                <h2>JUANITO</h2>
                <img src="{% static 'UProbotics_app/img/logo_blanco.png' %}" alt="Logo UProbotics" style="width: 100px; height: auto; margin-top: -50px;">
                <div class="info">
                    <span class="study-info">Estudiante de Ingeniería en Inteligencia Artificial</span>
                    <div class="links">
                        <a href="" class="github"><i class="fa-brands fa-github"></i><span>Github</span></a>
                        <a href="" class="linked"><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a>
                        <a href="" class="instagram"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a>
                    </div>
                </div>
            </div>
            <div class="developer-image">
                <img src="{% static '' %}" alt="">
            </div>
        </div>
        <!--DIV NUEVO INTEGRANTE-->
        <div class="developer-div-r">
            <div class="developer-info">
                <h2>JUANITO</h2>
                <img src="{% static 'UProbotics_app/img/logo_blanco.png' %}" alt="Logo UProbotics" style="width: 100px; height: auto; margin-top: -50px;">
                <div class="info">
                    <span class="study-info">Estudiante de Ingeniería en Inteligencia Artificial</span>
                    <div class="links">
                        <a href="" class="github"><i class="fa-brands fa-github"></i><span>Github</span></a>
                        <a href="" class="linked"><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a>
                        <a href="" class="instagram"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a>
                    </div>
                </div>
            </div>
            <div class="developer-image">
                <img src="{% static '' %}" alt="">
            </div>
        </div>
     

    <footer>
        <span><a href="https://www.up.edu.mx/campus-aguascalientes/">UP Aguascalientes</a></span>
        <span><a href="https://movil.up.edu.mx/ags/ingenieria-en-inteligencia-artificial">By IIA UP Ags</a></span>
    </footer>
</body>
</html>
